
*.ini
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.pdf
**/*.log
data/*
!data/databases
data/databases/*
!data/databases/.gitkeep
!data/examples
!data/results
data/results/*
!data/results/
!data/results/example
!data/results/example/*
env/*
!env/.gitkeep
renv/library/
renv/local/
renv/staging/
Results/*.html
Results/*.txt
markdown/*
!markdown/README.md
trials/*
!trials/example/
!trials/example/*
Rplots.pdf